{% extends 'kst/base.html' %}


{% block content %}

<div class="jumbotron" style="background: white;">
    <h1 class="display-4">Hello, {{user}}!</h1>
    <p class="lead">You have <mark>completed</mark> this state successfully!</p>
    <hr class="my-4">
    <p>Check your progress below and then you will be moved to next level</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Proceed to learn next State</a>
    </p>
</div>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>


<script type="text/javascript">
    window.onload = function () {
        var rr1 = parseInt("{{rr1}}");
        var rr2 = parseInt("{{rr2}}");
        var rr3 = parseInt("{{rr3}}");
        var r1 = parseInt("{{r1}}");
        var r2 = parseInt("{{r2}}");
        var r3 = parseInt("{{r3}}");
        var r4 = parseInt("{{r4}}");
        var sr1 = parseInt("{{sr1}}");
        var sr2 = parseInt("{{sr2}}");
        var sr3 = parseInt("{{sr3}}");
        var sr4 = parseInt("{{sr4}}");
        var srr1 = parseInt("{{sr1}}");
        var chart = new CanvasJS.Chart("chartContainer", {

            theme: "light2",

            title: {
                text: "Your obtained score with total score: Distributed Skillwise"
            },

            data: [ //array of dataSeries     
                { //dataSeries - first quarter
                    /*** Change type "column" to "bar", "area", "line" or "pie"***/
                    type: "column",
                    name: "Actual Score",
                    showInLegend: true,
                    dataPoints: [{
                            label: "Analyticals",
                            y: 33
                        },
                        {
                            label: "Graphicals",
                            y: 31
                        },
                        {
                            label: "Numericals",
                            y: 50
                        },
                        {
                            label: "Calculative",
                            y: 34
                        },
                        {
                            label: "Others",
                            y: 24
                        }
                    ]
                },

                { //dataSeries - second quarter

                    type: "column",
                    name: "Your Obtained Score",
                    showInLegend: true,
                    dataPoints: [{
                            label: "Analyticals",
                            y: 23
                        },
                        {
                            label: "Graphicals",
                            y: 13
                        },
                        {
                            label: "Numericals",
                            y: 32
                        },
                        {
                            label: "Calculative",
                            y: 17
                        },
                        {
                            label: "Others",
                            y: 22
                        }
                    ]
                }
            ],
            /** Set axisY properties here*/
            axisY: {

                suffix: " Marks"
            }
        });

        chart.render();
    }
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


{% endblock %}