{% extends 'kst/base.html' %}


{% block content %}






<div class="container">
    <div class="row">
        {% for i in illus %}


        <p> {{i.content}} </p>

        <p> {{i.text}}</p>
        <p> {{i.answer}}</p>

        {% endfor %}
    </div>
</div>


<p>You have completed :
    {{per_remaining}} %</p>

<form method="POST" action={% url 'content:illustrations' %}>

    {% csrf_token %}

    <button class="btn btn-primary p-1 m-4 align-center" type="submit">Go Further</button>
</form>





{% endblock %}